<ion-view>
    <ion-nav-title>
        <!-- <img class="logo-size" src="img/carone_logo.png"> -->
        <span class="booking-details-large-font">Booking Details</span>
    </ion-nav-title>
    <ion-content scrollbar-y="false" has-bouncing="true" class="home-background-image">
        <div ng-controller="booking-details-ctrl">
            <div ng-controller="booking-details-modal-ctrl">
                <ion-list>
                    <div class="list card booking-details-status-color-box booking-details-color-box-param">
                        <div class="row">
                            <div class="col">
                                <span class="booking-large-element-font">Delivery Time:&nbsp<span class="date-element-font">{{HeaderBookingDate}}</span></span>
                            </div>
                        </div>
                    </div>
                    <div class="list card booking-details-lt-color-box" ng-repeat="bookingDetailsItem in bookingDetailsArray">
                        <!-- <div class="list card user-booking-view-box"> -->
                        <div class="row">
                            <div class="col">
                                <span class="booking-details-large-font">{{bookingDetailsItem.userName}}</span>
                            </div>
                            <div class="col">
                                <span class="booking-details-large-font">Status:&nbsp</span>
                                <span class="booking-status-indication-font {{bookingDetailsItem.BookingStatusColor}}">{{bookingDetailsItem.BookingStatusString}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span class="booking-details-large-font">Address:&nbsp</span>
                                <!-- <br> -->
                                <span class="booking-address-element-font">{{bookingDetailsItem.FullAddress}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="ion-iphone vehicle-icon-fort-param"></i>
                                <span class="booking-details-large-font">&nbsp{{bookingDetailsItem.phoneNumber}}</span>
                            </div>
                            <div class="col">
                                <span class="booking-details-large-font">{{bookingDetailsItem.PickDropString}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="ion-model-s vehicle-icon-fort-param"></i>
                                <span class="booking-address-element-font">&nbsp{{bookingDetailsItem.vehicleModel}}&nbsp{{bookingDetailsItem.yearOfManuf}}</span>
                            </div>
                            <div class="col">
                                <span class="booking-details-large-font">Service:&nbsp</span>
                                <span class="booking-address-element-font">Regular, Washing</span>
                            </div>
                        </div>
                    </div>
                    <div class="list card booking-details-status-color-box booking-details-color-box-param">
                        <span ng-repeat="bookingStatusItem in bookingStatusArrayItems">
                        <span ng-if="bookingStatusItem.statusIndex > 2 && bookingStatusItem.iconType > 0">
                            <div class="row booking-details-row-height">
                                <div class="col col-10 col-offset-10">
                                    <div class="booking-details-dotted-line"></div>
                                </div>
                            </div>
                        </span>
                        <div class="row booking-details-row-height">
                            <div class="col col-10 col-offset-10">
                                <span ng-if="bookingStatusItem.iconType === 1">
                                    <span ng-if="bookingStatusItem.statusInfo === 0">
                                        <div class="ion-android-radio-button-on booking-details-circle-dot-grey"></div>
                                    </span>
                                <span ng-if="bookingStatusItem.statusInfo === 1">
                                        <div class="ion-android-radio-button-on booking-details-circle-dot-green"></div>
                                    </span>
                                <span ng-if="bookingStatusItem.statusInfo === 3">
                                        <div class="ion-android-radio-button-on booking-details-circle-dot-red"></div>
                                    </span>
                                <span ng-if="bookingStatusItem.statusInfo === 4">
                                        <div class="ion-android-radio-button-on booking-details-circle-dot-yellow" ng-click="bookingDetailStatusModal(bookingStatusItem)"></div>
                                    </span>
                                </span>
                                <span ng-if="bookingStatusItem.iconType === 2">
                                    <span ng-if="bookingStatusItem.statusInfo === 0">
                                        <div class="ion-record booking-details-circle-nodot-grey"></div>
                                    </span>
                                <span ng-if="bookingStatusItem.statusInfo === 1">
                                            <div class="ion-record booking-details-circle-nodot-green"></div>
                                    </span>
                                <span ng-if="bookingStatusItem.statusInfo === 2">
                                            <div class="ion-record booking-details-circle-nodot-grey"></div>
                                    </span>
                                <span ng-if="bookingStatusItem.statusInfo === 3">
                                            <div class="ion-record booking-details-circle-nodot-red"></div>
                                    </span>
                                <span ng-if="bookingStatusItem.statusInfo === 4">
                                            <div class="ion-record booking-details-circle-nodot-yellow" ng-click="bookingDetailStatusModal(bookingStatusItem)"></div>
                                    </span>
                                </span>
                            </div>
                            <div class="col col-60 col-offset-10">
                                <div ng-if="bookingStatusItem.statusInfo < 4" class="booking-details-status-alignment">
                                    <a href="#" style="text-decoration: none;" class="booking-details-status-element-font">{{bookingStatusItem.statusString}}</a>
                                </div>
                                <!-- <div ng-if="bookingStatusItem.statusInfo === 3" class="booking-details-status-alignment">
                                    <a href="#" style="text-decoration: none;" class="booking-details-status-element-font-red">{{bookingStatusItem.statusString}}</a>
                                </div> -->
                                <div ng-if="bookingStatusItem.statusInfo === 4" class="booking-details-status-alignment">
                                    <a href="#" style="text-decoration: none;" ng-click="bookingDetailStatusModal(bookingStatusItem)" class="booking-details-status-element-font-current">{{bookingStatusItem.statusString}}</a>
                                </div>
                            </div>
                            <!-- <span ng-if="bookingStatusItem.statusInfo === 4">
                                <div class="col col-25">
                                    <a href="#" style="text-decoration: none;" ng-click="bookingDetailStatusModal(bookingStatusItem)">
                                        <div class="bookings-details-action-button bookings-request-status-font">Update</div>
                                    </a>
                                </div>
                            </span> -->
                        </div>
                        </span>
                    </div>
                    <!-- <div class="list card booking-details-ht-color-box booking-details-color-box-param">
                    <div class="row">
                        <div class="col col-10">
                            <div class="ion-android-radio-button-on booking-details-circle-dot-grey"></div>
                        </div>
                        <div class="col col-60">
                            <div class="booking-details-status-element-font">Completed vehicle service</div>
                        </div>
                        <div class="col col-25">
                            <a href="#" style="text-decoration: none;">
                                <div class="bookings-details-action-button bookings-request-status-font">Action</div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-10">
                            <div class="booking-details-dotted-line"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-10">
                            <div class="ion-record booking-details-circle-nodot-grey"></div>
                        </div>
                        <div class="col col-60">
                            <div class="booking-details-status-element-font">Pending request</div>
                        </div>
                        <div class="col col-25">
                            <a href="#" style="text-decoration: none;">
                                <div class="bookings-details-action-button bookings-request-status-font">Action</div>
                            </a>
                        </div>
                    </div>
                </div> -->
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>
