<ion-modal-view class="booking-status-modal-size">
    <!-- <ion-header-bar>
        <a href="#" ng-click="closeBookingModal()"><i class="ion-close-circled booking-modal-close-icon"></i></a>
    </ion-header-bar> -->
    <ion-content>
        <div class="row">
            <div class="col">
                <a href="#" ng-click="closeBookingModal()"><i class="icon ion-close-circled  booking-details-circle-dot-grey"></i></a>
            </div>
            <div class="col col-10 col-offset-85">
                <a href="#" ng-click="applyBookingStatus(UserChoice)"><i class="icon ion-checkmark-circled booking-details-circle-dot-green"></i></a>
            </div>
        </div>
        <div ng-hide="showDateAndTime === false" ng-if="updateBookingDate === false || updateBookingTime === false" class="title-header-large-font">
            Select Expected Delivery Time
        </div>
        <ionic-datepicker ng-hide="showDateAndTime === false" input-obj="datepickerObject">
            <button class="button button-block button-positive"> {{datepickerObject.inputDate | date:'dd - MMMM - yyyy'}}</button>
        </ionic-datepicker>
        <ionic-timepicker ng-hide="showDateAndTime === false" input-obj="timePickerObject">
            <button class="button button-block button-positive overflowShow">
                <standard-time-meridian etime='timePickerObject.inputEpochTime'>{{timePickerObject.TimeRepresent}}</standard-time-meridian>
            </button>
        </ionic-timepicker>
        <!-- <form ng-submit="doLogin()"> -->
        <div ng-if='BookingDetails.requestAcceptString === modalInfo.confirmString'>
            <div class="list">
                <ion-radio ng-repeat="confirmItem in modalConfirmInfo" class="booking-modal-radio-bg" icon="icon ion-record" ng-model="UserChoice.data" ng-value="confirmItem" ng-change="selectConfirmOptions(confirmItem)">{{confirmItem.name}}</ion-radio>
            </div>
        </div>
        <div ng-if='BookingDetails.requestAcceptString === modalInfo.cancelString'>
            <div class="list">
                <ion-radio ng-repeat="cancelItem in modalCancelInfo" class="booking-modal-radio-bg" icon="icon ion-record" ng-model="UserChoice.data" ng-value="cancelItem">{{cancelItem.name}}</ion-radio>
            </div>
        </div>
        <!-- </form> -->
    </ion-content>
</ion-modal-view>
