<ion-view>
    <ion-nav-title>
        <!-- <img class="logo-size" src="img/carone_logo.png"> -->
        <span class="booking-details-large-font">Booking List</span>
    </ion-nav-title>
    <ion-content scrollbar-y="false" has-bouncing="true" class="home-background-image">
        <div ng-controller="booking-list-ctrl">
            <div ng-controller="booking-list-modal-ctrl">
                <ion-list>
                    <div class="list card booking-details-ht-color-box booking-details-color-box-param">
                        <div class="row">
                            <div class="col">
                                <span class="booking-large-element-font">Booking date:&nbsp<span class="date-element-font">{{HeaderBookingDate}}</span></span>
                            </div> 
                        </div>
                    </div>
                    <div class="list card user-booking-view-box" ng-repeat="bookingListItem in bookingListArray">
                    <!-- <div class="list card user-booking-view-box"> -->
                        <div class="row">
                            <div class="col">
                                <span class="booking-large-element-font">{{bookingListItem.UserName}}</span>
                            </div>
                            <div class="col">
                                <span class="booking-large-element-font">Status:&nbsp</span>
                                <span class="booking-status-indication-font {{bookingListItem.BookingStatusColor}}">{{bookingListItem.BookingStatusString}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span class="booking-large-element-font">Address:&nbsp</span>
                                <span class="booking-address-element-font">{{bookingListItem.UserAddress}}, {{bookingListItem.ZipCode}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="ion-iphone vehicle-icon-fort-param"></i>
                                <span class="booking-large-element-font">&nbsp{{bookingListItem.PhoneNumber}}</span>
                            </div>
                            <div class="col">
                                <span class="booking-large-element-font">{{bookingListItem.PickDropString}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="ion-model-s vehicle-icon-fort-param"></i>
                                <span class="booking-address-element-font">&nbsp{{bookingListItem.VehicleModel}}&nbsp{{bookingListItem.YoF}}</span>
                            </div>
                            <div class="col">
                                <span class="booking-large-element-font">Service:&nbsp</span>
                                <span class="booking-address-element-font">Regular, Washing</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-25 col-offset-50"><a ui-sref="vendor-app.bookingDetails({ bookingDetailsInfo: bookingListItem})" class="bookings-details-button-grey"><span class="bookings-request-status-font">Details</span></a></div>

                            <div class="col col-25"><a href="#" class="bookings-request-status-button" ng-click="bookingStatusModal()"><span class="bookings-request-status-font">{{bookingListItem.requestAcceptString}}</span></a></div>
                        </div>
                    </div>
                    <!-- </div> -->
                </ion-list>
            </div>
        </div>
        <!-- <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll> -->
        <!-- <div ng-controller="booking-list-modal-ctrl">
            
        </div> -->
    </ion-content>
</ion-view>
