<ion-view ion-title="Vehito">
    <ion-nav-title>
        <!--         <div class="row">
            <div class="col"><img class="vehito-logo-font" src="img/vehito_logo.png"></div>
            <div class="col">
                <span class="vehito-logo-text-font">
                    <strong>Vehito</strong>
                </span>
            </div>
        </div> -->
        <img class="vehito-logo-font" src="img/vehito_logo_f.png">
    </ion-nav-title>
    <ion-content scrollbar-y="false" has-bouncing="true" class="home-background-image">
        <div ng-controller="homeCtrl_1">
            <div class="row search-input-margin">
                <div class="col">
                    <div class="item-input-inset ">
                        <label class="item-input-wrapper">
                            <i class="icon ion-ios-search placeholder-icon"></i>
                            <input class="search-box-sizing" type="search" style="color:black;" ng-model="input" placeholder="Search by mobile number">
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div ng-controller="calendar-ctrl">
            <div class="vendor-highlevel-info-box">
                <div class="row">
                    <div class="col col-50">
                        <span class="vendor-rating-text-font">Rating:                      
                            <i ng-repeat="i in [] | range:VendorRatingValue" class="ion-ios-star rating-icon">                  
                            </i>
                        </span>
                    </div>
                    <div class="col col-50 col-offset-10">
                        <span class="vendor-like-text-font"><i class="ion-thumbsup like-icon"></i>: {{VendorLikeValue}}</span>
                    </div>
                </div>
            </div>
            <div class="calendar-color-box">
                <div class="row calendar-year-alignment">
                    <div class="col col-10 col-5 " ng-click='DecrementMonthArrow()'>
                        <span class="ion-chevron-left calendar-arrow-box"  ionic-button-click-toggle on-icon="calendar-arrow-box" off-icon="calendar-arrow-box-fade"></span>
                    </div>
                    <div class="col col-40 text-center ">
                        <span class="month-year-element-font">{{calendarMonth}}  {{calendarYear}}</span>
                    </div>
                    <div class="col col-10" ng-click='IncrementMonthArrow()'>
                        <span class="ion-chevron-right calendar-arrow-box" ionic-button-click-toggle on-icon="calendar-arrow-box" off-icon="calendar-arrow-box-fade"></span>
                    </div>
                </div>
                <!-- <div ng-repeat="i in [] | range:calendarTable.rowCount" value="{{$rowIndex=$index}}"> -->
                <!-- {{$test=$index}} -->
                <div ng-repeat="i in [] | range:calendarTable.rowCount" value="{{$rowIndex=$index}}" class="row calendar-row-box">
                    <div ng-repeat="n in [] | range:calendarTable.dayCount" value="{{$dateNumber= ($rowIndex*7)+($index+1)}}" class="col col-12 {{calendarArray[$dateNumber-1].daySelectHighlighter}}">
                        <!-- {{$index+1}}  -->
                        <!-- {{$test1= ($test*7)+$index}} -->
                        <div ng-if="$dateNumber <= calendarTable.totalDayCount">
                            <div ng-click='DateInformation(calendarArray[$dateNumber-1])' id={{( "0"+$dateNumber).slice(-2)}}>
                                <div class="day-details-container">
                                    <span class="col-box-day">{{calendarArray[$dateNumber-1].dayName}}</span>
                                    <br><span class="date-element-font">{{("0"+$dateNumber).slice(-2)}}</span>
                                    <br>
                                    <span ng-if="calendarArray[$dateNumber-1].vehiclePending > 0">
                                    <span class="booking-pending-service-indicator"></span>
                                    </span>
                                    <span ng-if="calendarArray[$dateNumber-1].requestPending > 0">
                                    <span class="booking-pending-request-indicator"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
            </div>
            <div class="day-information-box">
                <div class="row">
                    <div class="col col-50 col-offset-25 ">
                        <span ng-if="PendingServices > 0">                                                                       
                                    <span class="date-element-font">{{PendingServices}}</span>
                        <span class="col-box-day home-booking-button-text"> Pending Vehicle Services</span>
                        <span class="booking-pending-service-indicator"></span>
                        <br>
                        </span>
                        <span ng-if="PendingRequests > 0">
                                    <span class="date-element-font">{{PendingRequests}}</span>
                        <span class="col-box-day home-booking-button-text"> Pending Booking Requests</span>
                        <span class="booking-pending-request-indicator"></span>
                        <br>
                        </span>
                        <span ng-if="PendingRequests === 0 && PendingServices === 0">                                    
                                    <span class="date-element-font">NO </span>
                        <span class="col-box-day home-booking-button-text">Pending Requests</span>
                        </span>
                        <!-- <i class="ion-record pending-service-count-details"></i> -->
                    </div>
                    <div class="col">
                        <a ui-sref="vendor-app.bookingList({ calendarDetails: DateInSeconds })" ionic-button-click-toggle class="bookings-details-button" on-icon="bookings-details-button" off-icon="bookings-details-button-fade"> <span class="col-box-day">Bookings</span></a>
                        <!-- <a ui-sref="vendor-app.bookingList({ calendarDetails: DateInSeconds })" class="hvr-fade"><span class="col-box-day">Bookings</span></a> -->
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
