<ion-view view-title="Sign-In" name="login-view">
    <ion-content class="padding">
        <div class="row">
            <div class="col col-30 col-offset-25">
                <img class="login-logo" src="img/login_logo.png">
            </div>
        </div>
        <div class="list list-inset">
            <label class="input-edit-box">
                <input type="email" placeholder="Email ID" ng-model="data.loginId">
            </label>
            <label class="input-edit-box">
                <input type="password" placeholder="Password" ng-model="data.loginPassword">
            </label>
        </div>
        <button class="button button-block button-positive" ng-click="login(data)">Login</button>
        <p class="text-center">
            <a href="#/signup">Sign Up</a>
        </p>
    </ion-content>
</ion-view>
