<ion-view view-title="Sign-In" name="login-view">
    <ion-content class="padding">
        <div ng-controller="LoginCtrl">
            <div ng-controller="forgot-password-ctrl">
                <div class="row">
                    <!-- <span class="col col-30"></span> -->
                    <!-- <span class="col col-center"> -->
                        <img class="login-logo col col-center" src="img/login_logo.png">
                    <!-- </span> -->
                </div>
                <div ng-show="switchBetweenLoginAndPassword === false">
                    <form name="loginOprForm">
                        <div class="list list-inset">
                            <label class="input-edit-box">
                                <input type="email" placeholder="Email ID" ng-model="data.loginId">
                            </label>
                            <label class="input-edit-box">
                                <input type="password" placeholder="Password" ng-model="data.loginPassword">
                            </label>
                        </div>
                        <button type="submit" class="button button-block button-positive" ng-click="login(data)">Login</button>
                    </form>
                    <p class="text-center" style="margin-top:30px;">
                        <a href="#/signup">Sign Up</a>
                    </p>
                    <p class="text-center" style="margin-top:10px;">
                        <a href="#" ng-click="switchViews()">Forgotten your password?</a>
                    </p>
                </div>
                <div ng-show="switchBetweenLoginAndPassword === true">
                    <p ng-if="statusIndation === true" style="text-align: center; color:red">
                        Wrong credentials
                    </p>
                    <p style="text-align: center;color:#47639E;" ng-if="updatePasswordResetStatus === true">Successfully sent password to registered email id
                    </p>
                    <form name="passwordOprForm" style="padding-bottom: 30px;">
                        <label class="input-edit-box" ng-class="{ 'has-error' : submitted && passwordOprForm.email.$invalid}">
                            <span ng-if="(passwordOprForm.email.$dirty && passwordChangeObj.email) || passwordChangeObj.email">Email Id *</span>
                            <input type="email" name="email" ng-model="passwordChangeObj.email" placeholder="Email Id *" ng-minlength="5" required />
                            <div ng-if='submitted' ng-messages="passwordOprForm.email.$error">
                                <div ng-message="required">This field is required</div>
                                <div ng-message="email">Your email is invalid</div>
                                <div ng-message="minlength">This field is must be at least 5 characters.</div>
                            </div>
                        </label>
                        <label class="input-edit-box" ng-class="{ 'has-error' : submitted && passwordOprForm.phonenumber.$invalid}">
                            <span ng-if="(passwordOprForm.phonenumber.$dirty && passwordChangeObj.phonenumber) || passwordChangeObj.phonenumber">Mobile Number *</span>
                            <input type="text" name="phonenumber" ng-model="passwordChangeObj.phonenumber" placeholder="Mobile Number *" maxlength="15" ng-minlength="4" ng-pattern="/[0-9]+/" required />
                            <div ng-if='submitted' ng-messages="passwordOprForm.phonenumber.$error">
                                <div ng-message="required">This field is required</div>
                                <div ng-message="pattern">This must contain only number</div>
                                <div ng-message="minlength">This field is must be at least 5 characters.</div>
                                <div ng-message="maxlength">This field is must be maximum 15 characters.</div>
                            </div>
                        </label>
                        <button type="submit" ng-click="passwordModal(passwordChangeObj, passwordOprForm);submitted=true" ng-keyup="submitted=false" class="button button-block button-positive">Reset Password</button>
                        <button type="submit" ng-click="backToLogin()" class="button button-block button-assertive">Back To Login</button>
                    </form>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
