<ion-view view-title="Sign-In" name="login-view">
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.loginId">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.loginPassword">
          </label>
      </div>
      <button class="button button-block button-positive" ng-click="login(data)">Login</button>

       <p class="text-center">
          <a href="#/signup">Sign Up</a>
    </p>
  </ion-content>
</ion-view>
