<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="header-background-image" align-title="center">
            <ion-nav-back-button class="button button-icon ion-ios-arrow-back button-positive">
            </ion-nav-back-button>
            <ion-nav-buttons side="right">
                <button class="button button-icon ion-navicon button-positive" menu-toggle="right">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="right">
        <div ng-controller="side-menu-ctrl">
            <ion-header-bar class="nav-title-slide-ios7" align-title="center">
                <h1 class="title color-filler"> Menu</h1>
            </ion-header-bar>
            <ion-content>
                <ion-list>
                    <ion-item menu-close ng-click="login()">
                        <i class="ion-android-person title-color-font">&nbsp&nbspLogin</i>
                    </ion-item>
                    <ion-item menu-close href="#/vendor-app/home">
                        <i class="ion-home title-color-font">&nbsp&nbspHome</i>
                    </ion-item>
                    <ion-item menu-close ui-sref="vendor-app.bookingList({ calendarDetails: DateInSeconds })">
                        <i class="ion-android-car title-color-font">&nbsp&nbspBooking Details</i>
                    </ion-item>
                    <ion-item menu-close href="#/app/browse">
                        <i class="ion-wrench title-color-font">&nbsp&nbspServices Settings</i>
                    </ion-item>
                    <ion-item menu-close href="#/app/playlists">
                        <i class="ion-pricetags title-color-font">&nbsp&nbspHoliday Settings</i>
                    </ion-item>
                    <ion-item menu-close href="#/app/playlists">
                        <i class="ion-android-settings title-color-font">&nbsp&nbspAccount Settings</i>
                    </ion-item>
                </ion-list>
            </ion-content>
        </div>
    </ion-side-menu>
</ion-side-menus>
