<ion-modal-view class="search-modal-content-bg">
    <ion-header-bar class="header-background-image">
        <div class="row">
            <div class="col col-60">
                <form name="searchForm" ng-submit="searchForm.$valid && searchByMobile(MoblieNumber)">
                    <label class="input-search-box">
                        <input type="search" style="color:white;" ng-model="MoblieNumber" placeholder="Search by mobile number" ng-pattern="onlyNumbers" ng-blur="closeSearchModal()">
                        <div ng-messages="searchForm.$error">                  
                            <div ng-message="pattern">This must contain only number</div>
                        </div>
                    </label>
                </form>
            </div>
            <div class="col col-10">
                <div style="margin-top: -10px; margin-left: -10px;">
                    <button class="button button-icon ion-android-search button-positive" ng-click="searchByMobile(MoblieNumber)"></button>
                </div>
            </div>
            <div class="col col-10">
                <div style="margin-top: -10px; margin-left: -10px;">
                    <button class="button button-icon ion-android-cancel button-positive" ng-click="closeSearchModal()"></button>
                </div>
            </div>
        </div>
    </ion-header-bar>
    <ion-content>
    </ion-content>
</ion-modal-view>
