<div class="list card">
    <a href="#" class="item item-image">
        <img src="img/ads/ads_1.jpg">
    </a>
    <div class="row">
        <div class="col col-50">
            Rating:
            <span>
                            <i class="ion-ios-star" ></i>
                        </span>
        </div>
        <div class="col col-50">
            Min Charge: 2,000 rs
        </div>
    </div>
    <div class="row">
        <div class="col col-50">
            Distance: 4.5 KM
            <a href="#" class="ion-map custom-icon-20px"></a>
        </div>
        <div class="col col-50">
            Pickup/Drop:
            <i class="ion-record pick-drop-icon-20px-red"></i>
        </div>
    </div>
</div>
