<ion-view>
    <ion-nav-title>
        <span class="title-header-large-font">User Settings</span>
    </ion-nav-title>
    <ion-content scrollbar-y="false" has-bouncing="true" class="home-background-image">
        <div ng-controller="user-settings-ctrl" class="controller-placing">
            <div ng-controller="vendor-addr-ctrl">
                <div class="list card booking-details-status-color-box booking-details-color-box-param">
                    <div class="row">
                        <div class="col">                            
                            <span class="booking-large-element-font">Vendor Verification:&nbsp</span>  
                            <span class="booking-address-element-font" ng-repeat="verifyItem in vendorVerification" ng-if="overviewInfo.authorization === verifyItem.index">{{verifyItem.status}}</span>  
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-80">                            
                            <span class="booking-large-element-font">Vehicle Service: {{bookingListItem.userName}}</span>
                            <span class="booking-address-element-font" ng-repeat="serviceItem in vendorServiceVehicleType" ng-if="overviewInfo.vendorVehicleServiceType === serviceItem.value">{{serviceItem.type}}</span>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col">                            
                            <span class="booking-large-element-font">authorized vendor:&nbsp</span>  
                            <span class="booking-address-element-font" ng-if="overviewInfo.exclusiveVendor === 1">Authorized Service Center</span>  
                            <span class="booking-address-element-font" ng-if="overviewInfo.exclusiveVendor === 0">General Service Center</span>                       
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">                            
                            <span class="booking-large-element-font">authorized Vehicle:&nbsp</span>  
                            <span class="booking-address-element-font">{{overviewInfo.brandSupportName}}</span>                        
                        </div>
                    </div>
                </div>
                <form name="vendorAccountForm" ng-submit="SavePersonalInfo()" novalidate>
                    <button class="button button-full button-assertive" type="submit" ng-click="submitted=true" ng-keyup="submitted=false">
                        Save Changes
                    </button>
                    <!-- personal information -->
                    <div class="row bg-item-divide-setting" ng-class="{ 'bg-item-divide-setting-error' :  submitted && (vendorAccountForm.vendorName.$invalid || vendorAccountForm.vendorTitle.$invalid || vendorAccountForm.description.$invalid || vendorAccountForm.yearOfEstablish.$invalid)}">
                        <div class="col col-90 item-heading-user-info">
                            <span>{{personalInfoTitle.Heading}}</span>
                        </div>
                        <!-- <div class="col col-20 button-modeling">
                            <button type="submit" class="button button-small" ng-click="submitted=true" ng-keyup="submitted=false">
                                <i>Save</i>
                            </button>
                        </div> -->
                        <div class="col col-10">
                            <span ionic-expand-arrow-switcher class="icon expand-toggle-arrow-font ion-chevron-down" on-icon="ion-chevron-down" off-icon="ion-chevron-up" ng-model="personalInfoTitle.Checked"></span>
                        </div>
                    </div>
                    <div class="list" ng-show="personalInfoTitle.Checked === true">
                        <label class="input-edit-box" ng-class="{ 'has-error' : submitted && vendorAccountForm.vendorName.$invalid}">
                            <span ng-if="(vendorAccountForm.vendorName.$dirty && personalInfo.vendorName) || personalInfo.vendorName">User Name *</span>
                            <input type="text" name="vendorName" ng-model="personalInfo.vendorName" placeholder="User Name *" ng-minlength="5" ng-pattern="/^[A-Za-z0-9 ]+$/" required />
                            <div ng-if='submitted' ng-messages="vendorAccountForm.vendorName.$error">
                                <div ng-message="required">This field is required</div>
                                <div ng-message="pattern">This must contain only letters or number</div>
                                <div ng-message="minlength">This field is must be at least 5 characters.</div>
                            </div>
                        </label>
                        <label class="input-edit-box" ng-class="{ 'has-error' :  submitted && vendorAccountForm.vendorTitle.$invalid}">
                            <span ng-if="(vendorAccountForm.vendorTitle.$dirty && personalInfo.vendorTitle) || personalInfo.vendorTitle">Title *</span>
                            <input type="text" name="vendorTitle" ng-model="personalInfo.vendorTitle" placeholder="Title *" ng-minlength="5" ng-pattern="/^[A-Za-z0-9 ]+$/" required />
                            <div ng-if='submitted' ng-messages="vendorAccountForm.vendorTitle.$error">
                                <div ng-message="required">This field is required</div>
                                <div ng-message="pattern">This must contain only letters or number</div>
                                <div ng-message="minlength">This field is must be at least 5 characters.</div>
                            </div>
                        </label>
                        <label class="input-edit-box" ng-class="{ 'has-error' :  submitted && vendorAccountForm.description.$invalid}">
                            <span ng-if="(vendorAccountForm.description.$dirty && personalInfo.description) || personalInfo.description">Description *</span>
                            <input type="text" name="description" ng-model="personalInfo.description" placeholder="Description *" ng-minlength="5" ng-maxlength="20" ng-pattern="/^[A-Za-z0-9 ]+$/" required />
                            <div ng-if='submitted' ng-messages="vendorAccountForm.description.$error">
                                <div ng-message="required">This field is required</div>
                                <div ng-message="pattern">This must contain only letters or number</div>
                                <div ng-message="minlength">This field is must be at least 5 characters.</div>
                                <div ng-message="maxlength">This field is must be maximum 50 characters.</div>
                            </div>
                        </label>
                        <label class="input-edit-box" ng-class="{ 'has-error' :  submitted && vendorAccountForm.yearOfEstablish.$invalid}">
                            <span ng-if="(vendorAccountForm.yearOfEstablish.$dirty && personalInfo.yearOfEstablish) || personalInfo.yearOfEstablish">Year of establishment (YYYY) *</span>
                            <input type="text" name="yearOfEstablish" ng-model="personalInfo.yearOfEstablish" placeholder="Year of establishment (YYYY) *" maxlength="4" ng-minlength="4" ng-pattern="/[0-9]+/" required />
                            <div ng-if='submitted' ng-messages="vendorAccountForm.yearOfEstablish.$error">
                                <div ng-message="required">This field is required</div>
                                <div ng-message="pattern">This must contain only number</div>
                                <div ng-message="minlength">This field is must be at least 4 characters.</div>
                                <div ng-message="maxlength">This field is must be maximum 50 characters.</div>
                            </div>
                        </label>
                    </div>
                    <!-- </form> -->
                    <!-- contact information -->
                    <!-- <form name="vendorAccountForm"> -->
                    <div class="row bg-item-divide-setting" ng-class="{ 'bg-item-divide-setting-error' :  submitted && (vendorAccountForm.address.$invalid || vendorAccountForm.primaryEmailID.$invalid || vendorAccountForm.primaryPhoneNumber.$invalid || vendorAccountForm.zipCode.$invalid)}">
                        <div class="col col-80 item-heading-user-info">
                            <span>{{contactInfoTitle.Heading}}</span>
                        </div>
                        <div class="col col-10">
                            <div class="ion-ios-location expand-toggle-arrow-font" ionic-button-click-toggle on-icon="calendar-arrow-box" off-icon="calendar-arrow-box-fade" ng-click="showMapView()" ng-class="{ 'expand-toggle-arrow-font-error' :  submitted && (vendorAccountForm.zipCode.$invalid)}"></div>
                        </div>
                        <div class="col col-10">
                            <span ionic-expand-arrow-switcher class="icon expand-toggle-arrow-font ion-chevron-down" on-icon="ion-chevron-down" off-icon="ion-chevron-up" ng-model="contactInfoTitle.Checked"></span>
                        </div>
                    </div>
                    <div class="list" ng-show="contactInfoTitle.Checked === true">
                        <label class="input-edit-box" ng-class="{ 'has-error' :  submitted && vendorAccountForm.primaryEmailID.$invalid}">
                            <span ng-if="(vendorAccountForm.primaryEmailID.$dirty && overviewInfo.primaryEmailID) || overviewInfo.primaryEmailID">Email ID *</span>
                            <input type="email" name="primaryEmailID" ng-model="overviewInfo.primaryEmailID" placeholder="Email ID *" ng-minlength="5" required />
                            <div ng-if='submitted' ng-messages="vendorAccountForm.primaryEmailID.$error">
                                <div ng-message="required">This field is required</div>
                                <div ng-message="email">Your email address is invalid</div>
                                <div ng-message="pattern">This must contain only letters or number</div>
                                <div ng-message="minlength">This field is must be at least 5 characters.</div>
                            </div>
                        </label>
                        <label class="input-edit-box" ng-class="{ 'has-error' :  submitted && vendorAccountForm.primaryPhoneNumber.$invalid}">
                            <span ng-if="(vendorAccountForm.primaryPhoneNumber.$dirty && overviewInfo.primaryPhoneNumber) || overviewInfo.primaryPhoneNumber">Mobile Number *</span>
                            <input type="text" name="primaryPhoneNumber" ng-model="overviewInfo.primaryPhoneNumber" placeholder="Mobile Number *" maxlength="15" ng-minlength="4" ng-pattern="/[0-9]+/" required />
                            <div ng-if='submitted' ng-messages="vendorAccountForm.primaryPhoneNumber.$error">
                                <div ng-message="required">This field is required</div>
                                <div ng-message="pattern">This must contain only number</div>
                                <div ng-message="minlength">This field is must be at least 5 characters.</div>
                                <div ng-message="maxlength">This field is must be maximum 15 characters.</div>
                            </div>
                        </label>
                        <label class="input-edit-box" ng-class="{ 'has-error' :  submitted && vendorAccountForm.primaryMobileNumber.$invalid}">
                            <span ng-if="(vendorAccountForm.primaryMobileNumber.$dirty && personalInfo.primaryMobileNumber) || personalInfo.primaryMobileNumber">Alt Mobile Number</span>
                            <input type="text" name="primaryMobileNumber" ng-model="personalInfo.primaryMobileNumber" placeholder="Alt Mobile Number" maxlength="15" ng-minlength="4" ng-pattern="/[0-9]+/" />
                            <div ng-if='submitted' ng-messages="vendorAccountForm.primaryMobileNumber.$error">
                                <div ng-message="required">This field is required</div>
                                <div ng-message="pattern">This must contain only number</div>
                                <div ng-message="minlength">This field is must be at least 5 characters.</div>
                                <div ng-message="maxlength">This field is must be maximum 15 characters.</div>
                            </div>
                        </label>
                        <label class="input-edit-box" ng-class="{ 'has-error' :  submitted && vendorAccountForm.address.$invalid}">
                            <span ng-if="(vendorAccountForm.address.$dirty && personalInfo.address) || personalInfo.address">Address *</span>
                            <input type="text" name="address" ng-model="personalInfo.address" placeholder="Address *" ng-minlength="10" ng-maxlength="100" required />
                            <div ng-if='submitted' ng-messages="vendorAccountForm.address.$error">
                                <div ng-message="required">This field is required</div>
                                <div ng-message="minlength">This field is must be at least 5 characters.</div>
                                <div ng-message="maxlength">This field is must be maximum 50 characters.</div>
                            </div>
                        </label>
                        <!-- <label class="item item-input">
                        <input type="text" id="Autocomplete" class="form-control" ng-autocomplete ng-model="contactInfo.userCity" placeholder="City *">
                    </label> -->
                        <div ng-show="overviewInfo.longitude != 0 && overviewInfo.latitude != 0">
                            <label class="input-edit-box">
                                <span>City *</span>
                                <input type="text" ng-model="personalInfo.city" placeholder="City *" />
                            </label>
                            <label class="input-edit-box">
                                <span>State *</span>
                                <input type="text" ng-model="personalInfo.state" placeholder="State *" />
                            </label>
                            <label class="input-edit-box">
                                <span>Country *</span>
                                <input type="text" ng-model="personalInfo.country" placeholder="Country *" />
                            </label>
                            <!-- <label class="input-edit-box">
                                <span>Zipcode *</span>
                                <input type="text" ng-model="overviewInfo.zipCode" placeholder="Zipcode *" />
                            </label> -->
                            <label class="input-edit-box" ng-class="{ 'has-error' :  submitted && vendorAccountForm.zipCode.$invalid}">
                                <span ng-if="(vendorAccountForm.zipCode.$dirty && overviewInfo.zipCode) || overviewInfo.zipCode">ZipCode *</span>
                                <input type="text" name="zipCode" ng-model="overviewInfo.zipCode" placeholder="ZipCode *" maxlength="15" ng-minlength="4" ng-pattern="/[0-9]+/" required />
                                <div ng-if='submitted' ng-messages="vendorAccountForm.zipCode.$error">
                                    <div ng-message="required">This field is required</div>
                                    <div ng-message="pattern">This must contain only number</div>
                                    <div ng-message="minlength">This field is must be at least 5 characters.</div>
                                    <div ng-message="maxlength">This field is must be maximum 15 characters.</div>
                                </div>
                            </label>
                        </div>
                    </div>
                    <!-- </form> -->
                    <!-- <form name="vendorAccountForm"> -->
                    <div class="row bg-item-divide-setting" ng-class="{ 'bg-item-divide-setting-error' :  submitted && (vendorAccountForm.minServiceCharge.$invalid || vendorAccountForm.minWaitingTime.$invalid)}">
                        <div class="col col-90 item-heading-user-info">
                            <span>{{serviceInfoTitle.Heading}}</span>
                        </div>
                        <div class="col col-10">
                            <span ionic-expand-arrow-switcher class="icon expand-toggle-arrow-font ion-chevron-down" on-icon="ion-chevron-down" off-icon="ion-chevron-up" ng-model="serviceInfoTitle.Checked"></span>
                        </div>
                    </div>
                    <div class="list" ng-show="serviceInfoTitle.Checked === true">
                        <label class="input-edit-box" ng-class="{ 'has-error' :  submitted && vendorAccountForm.minServiceCharge.$invalid}">
                            <span ng-if="(vendorAccountForm.minServiceCharge.$dirty && overviewInfo.minServiceCharge) || overviewInfo.minServiceCharge">Min Service Charge *</span>
                            <input type="text" name="minServiceCharge" ng-model="overviewInfo.minServiceCharge" placeholder="Min Service Charge *" maxlength="15" ng-minlength="2" ng-pattern="/[0-9]+/" required />
                            <div ng-if='submitted' ng-messages="vendorAccountForm.minServiceCharge.$error">
                                <div ng-message="required">This field is required</div>
                                <div ng-message="pattern">This must contain only number</div>
                                <div ng-message="minlength">This field is must be at least 2 characters.</div>
                                <div ng-message="maxlength">This field is must be maximum 15 characters.</div>
                            </div>
                        </label>
                        <label class="input-edit-box" ng-class="{ 'has-error' :  submitted && vendorAccountForm.minWaitingTime.$invalid}">
                            <span ng-if="(vendorAccountForm.minWaitingTime.$dirty && overviewInfo.minWaitingTime) || overviewInfo.minWaitingTime">Min Waiting time *</span>
                            <input type="text" name="minWaitingTime" ng-model="overviewInfo.minWaitingTime" placeholder="Min Waiting time *" maxlength="3" ng-minlength="2" ng-pattern="/[0-9]+/" required />
                            <div ng-if='submitted' ng-messages="vendorAccountForm.minWaitingTime.$error">
                                <div ng-message="required">This field is required</div>
                                <div ng-message="pattern">This must contain only number</div>
                                <div ng-message="minlength">This field is must be at least 2 characters.</div>
                                <div ng-message="maxlength">This field is must be maximum 3 characters.</div>
                            </div>
                        </label>
                        <span class="input-checkbox-par">
                            <div ionic-expand-arrow-switcher class="icon ion-android-checkbox-outline-blank" on-icon="ion-android-checkbox-outline-blank" off-icon="ion-android-checkbox-outline" ng-model="overviewInfo.pickUpOrDrop"><i>Pickup/Drop</i></div>
                        </span>
                        <div class="input-select-option-par">
                            <i>Vendor Service Type</i>
                            <select ng-model="selectedServiceType.value" ng-options="serviceType.value as serviceType.type for serviceType in vendorServiceVehicleType">
                            </select>
                        </div>
                    </div>
                    <!-- </form> -->
                    <!-- <form name="vendorAccountForm"> -->
                    <div class="row bg-item-divide-setting">
                        <div class="col col-90 item-heading-user-info">
                            <span>{{soltInfoTitle.Heading}}</span>
                        </div>
                        <div class="col col-10">
                            <span ionic-expand-arrow-switcher class="icon expand-toggle-arrow-font ion-chevron-down" on-icon="ion-chevron-down" off-icon="ion-chevron-up" ng-model="soltInfoTitle.Checked"></span>
                        </div>
                    </div>
                    <div class="list" ng-if="soltInfoTitle.Checked === true">
                        <label class="input-edit-box" ng-class="{ 'has-error' :  submitted && vendorAccountForm.Sunday.$invalid}">
                            <span>Sunday *</span>
                            <input type="text" name="Sunday" ng-model="vendorSlotInfo.Sunday" placeholder="Sunday *" maxlength="3" ng-minlength="1" ng-pattern="/[0-9]+/" />
                            <div ng-if='submitted' ng-messages="vendorAccountForm.Sunday.$error">
                                <div ng-message="required">This field is required</div>
                                <div ng-message="pattern">This must contain only number</div>
                                <div ng-message="minlength">This field is must be at least 1 characters.</div>
                                <div ng-message="maxlength">This field is must be maximum 3 characters.</div>
                            </div>
                        </label>
                        <label class="input-edit-box" ng-class="{ 'has-error' :  submitted && vendorAccountForm.Monday.$invalid}">
                            <span>Monday *</span>
                            <input type="text" name="Monday" ng-model="vendorSlotInfo.Monday" placeholder="Monday *" maxlength="3" ng-minlength="1" ng-pattern="/[0-9]+/" />
                            <div ng-if='submitted' ng-messages="vendorAccountForm.Monday.$error">
                                <div ng-message="required">This field is required</div>
                                <div ng-message="pattern">This must contain only number</div>
                                <div ng-message="minlength">This field is must be at least 1 characters.</div>
                                <div ng-message="maxlength">This field is must be maximum 3 characters.</div>
                            </div>
                        </label>
                        <label class="input-edit-box" ng-class="{ 'has-error' :  submitted && vendorAccountForm.Tuesday.$invalid}">
                            <span>Tuesday *</span>
                            <input type="text" name="Tuesday" ng-model="vendorSlotInfo.Tuesday" placeholder="Tuesday *" maxlength="3" ng-minlength="1" ng-pattern="/[0-9]+/" />
                            <div ng-if='submitted' ng-messages="vendorAccountForm.Tuesday.$error">
                                <div ng-message="required">This field is required</div>
                                <div ng-message="pattern">This must contain only number</div>
                                <div ng-message="minlength">This field is must be at least 1 characters.</div>
                                <div ng-message="maxlength">This field is must be maximum 3 characters.</div>
                            </div>
                        </label>
                        <label class="input-edit-box" ng-class="{ 'has-error' :  submitted && vendorAccountForm.Wednesday.$invalid}">
                            <span>Wednesday *</span>
                            <input type="text" name="Wednesday" ng-model="vendorSlotInfo.Wednesday" placeholder="Wednesday *" maxlength="3" ng-minlength="1" ng-pattern="/[0-9]+/" />
                            <div ng-if='submitted' ng-messages="vendorAccountForm.Wednesday.$error">
                                <div ng-message="required">This field is required</div>
                                <div ng-message="pattern">This must contain only number</div>
                                <div ng-message="minlength">This field is must be at least 1 characters.</div>
                                <div ng-message="maxlength">This field is must be maximum 3 characters.</div>
                            </div>
                        </label>
                        <label class="input-edit-box" ng-class="{ 'has-error' :  submitted && vendorAccountForm.Thursday.$invalid}">
                            <span>Thursday *</span>
                            <input type="text" name="Thursday" ng-model="vendorSlotInfo.Thursday" placeholder="Thursday *" maxlength="3" ng-minlength="1" ng-pattern="/[0-9]+/" />
                            <div ng-if='submitted' ng-messages="vendorAccountForm.Thursday.$error">
                                <div ng-message="required">This field is required</div>
                                <div ng-message="pattern">This must contain only number</div>
                                <div ng-message="minlength">This field is must be at least 1 characters.</div>
                                <div ng-message="maxlength">This field is must be maximum 3 characters.</div>
                            </div>
                        </label>
                        <label class="input-edit-box" ng-class="{ 'has-error' :  submitted && vendorAccountForm.Friday.$invalid}">
                            <span>Friday *</span>
                            <input type="text" name="Friday" ng-model="vendorSlotInfo.Friday" placeholder="Friday *" maxlength="3" ng-minlength="1" ng-pattern="/[0-9]+/" />
                            <div ng-if='submitted' ng-messages="vendorAccountForm.Friday.$error">
                                <div ng-message="required">This field is required</div>
                                <div ng-message="pattern">This must contain only number</div>
                                <div ng-message="minlength">This field is must be at least 1 characters.</div>
                                <div ng-message="maxlength">This field is must be maximum 3 characters.</div>
                            </div>
                        </label>
                        <label class="input-edit-box" ng-class="{ 'has-error' :  submitted && vendorAccountForm.Saturday.$invalid}">
                            <span>Saturday *</span>
                            <input type="text" name="Saturday" ng-model="vendorSlotInfo.Saturday" placeholder="Saturday *" maxlength="3" ng-minlength="1" ng-pattern="/[0-9]+/" />
                            <div ng-if='submitted' ng-messages="vendorAccountForm.Saturday.$error">
                                <div ng-message="required">This field is required</div>
                                <div ng-message="pattern">This must contain only number</div>
                                <div ng-message="minlength">This field is must be at least 1 characters.</div>
                                <div ng-message="maxlength">This field is must be maximum 3 characters.</div>
                            </div>
                        </label>
                    </div>
                </form>
                <!-- personal information -->
                <!-- <div style="margin-top: 10px;">
                <div class="row bg-item-divide-setting">
                    <div class="col col-90 item-heading-user-info">
                        <span>{{contactInfo.Heading}}</span>
                    </div>
                    <div class="col col-10">
                        <span ionic-expand-arrow-switcher class="icon expand-toggle-arrow-font ion-chevron-down" on-icon="ion-chevron-down" off-icon="ion-chevron-up" ng-model="contactInfo.Checked"></span>
                    </div>
                </div>
                <div class="list" ng-if="contactInfo.Checked === true">
                    <label class="item item-input">
                        <input type="tel" ng-model="contactInfo.userMobileNumber" placeholder="Mobile Number *">
                    </label>
                    <label class="item item-input">
                        <input type="email" ng-model="contactInfo.userEmailID" placeholder="Email ID *">
                    </label>
                    <label class="item item-input">
                        <textarea ng-model="contactInfo.userAddress" placeholder="Address *"></textarea>
                        <a href="#"><i class="icon ion-ios-location"></i></a>
                    </label>
                    <label class="item item-input">
                        <input type="text" id="Autocomplete" class="form-control" ng-autocomplete ng-model="contactInfo.userCity" placeholder="City *">
                    </label>



                    <label class="item item-input">
                        <input type="tel" ng-model="contactInfo.userAltMobileNumber" placeholder="Alternate Mobile Number">
                    </label>
                    <label class="item item-input">
                        <input type="tel" ng-model="contactInfo.userLandlineNumber" placeholder="Landline Number">
                    </label>
                    <label class="item item-input">
                        <input type="tel" ng-model="contactInfo.userFaxNumber" placeholder="Fax Number">
                    </label>
                </div>
            </div> -->
            </div>
        </div>
    </ion-content>
</ion-view>
