<ion-view>
    <ion-nav-title>
        <span class="title-header-large-font">Account Settings</span>
    </ion-nav-title>
    <ion-content scrollbar-y="false" has-bouncing="true" class="home-background-image">
        <div ng-controller="user-settings-ctrl" class="controller-placing">
            <div class="vendor-status-card">
                <div class="item item-icon-left row">
                    <div class="col">
                        <h>Status:&nbsp</h>
                    </div>
                    <div class="col">
                        <p ng-repeat="verifyItem in vendorVerification" ng-if="overviewInfo.authorization === verifyItem.index" style="color:{{verifyItem.color}}">{{verifyItem.status}}</p>
                    </div>
                </div>
                <div class="item item-icon-left row">
                    <div class="col">
                        <h>Vehicle Service: {{bookingListItem.userName}}</h>
                    </div>
                    <div class="col">
                        <p ng-repeat="serviceItem in vendorServiceVehicleType" ng-if="overviewInfo.vendorVehicleServiceType === serviceItem.value">{{serviceItem.type}}</p>
                    </div>
                </div>
                <div class="item item-icon-left row">
                    <div class="col">
                        <h>Service Center Type:&nbsp</h>
                    </div>
                    <div class="col">
                        <p ng-if="overviewInfo.exclusiveVendor === 1">Authorized Service</p>
                        <p ng-if="overviewInfo.exclusiveVendor === 0">General Service</p>
                    </div>
                </div>
                <div class="item item-icon-left row" ng-if="overviewInfo.exclusiveVendor === 1">
                    <div class="col">
                        <h>Authorized Vehicle:&nbsp</h>
                    </div>
                    <div class="col">
                        <p>{{overviewInfo.brandSupportName}}</p>
                    </div>
                </div>
            </div>
            <!-- <div ng-controller="camera-settings-ctrl">
                <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
                <img ng-show="imgURI === undefined" ng-src="http://placehold.it/300x300">
                <button class="button" ng-click="takePicture()">Take Picture</button>
            </div> -->
            <div class="vendor-status-card">
                <a class="item item-icon-left item-icon-right" href="#/vendor-app/userSettings/0">
                    <i class="icon ion-gear-b calendar-arrow-box" style="font-size: 20px;color:grey;"></i>
                    <span class="item-heading-user-info" style="margin-left:-12px; font-size:12px;">{{personalInfoTitle.Heading}}</span>
                    <i class="icon ion-chevron-right calendar-arrow-box" style="font-size: 15px;"></i>
                </a>
                <a class="item item-icon-left item-icon-right" href="#/vendor-app/userSettings/1">
                    <i class="icon ion-ios-location calendar-arrow-box" style="font-size: 20px;color:grey;"></i>
                    <span class="item-heading-user-info" style="margin-left:-12px; font-size:12px;">{{contactInfoTitle.Heading}}</span>
                    <i class="icon ion-chevron-right calendar-arrow-box" style="font-size: 15px;"></i>
                </a>
                <a class="item item-icon-left item-icon-right" href="#/vendor-app/userSettings/2">
                    <i class="icon ion-settings calendar-arrow-box" style="font-size: 20px;color:grey;"></i>
                    <span class="item-heading-user-info" style="margin-left:-12px; font-size:12px;">{{serviceInfoTitle.Heading}}</span>
                    <i class="icon ion-chevron-right calendar-arrow-box" style="font-size: 15px;"></i>
                </a>
                <a class="item item-icon-left item-icon-right" href="#/vendor-app/userSettings/3">
                    <i class="icon ion-ios-list calendar-arrow-box" style="font-size: 20px;color:grey;"></i>
                    <span class="item-heading-user-info" style="margin-left:-12px; font-size:12px;">{{soltInfoTitle.Heading}}</span>
                    <i class="icon ion-chevron-right calendar-arrow-box" style="font-size: 15px;"></i>
                </a>
                <a class="item item-icon-left item-icon-right" href="#/vendor-app/userSettings/4">
                    <i class="icon ion-android-person calendar-arrow-box" style="font-size: 20px;color:grey;"></i>
                    <span class="item-heading-user-info" style="margin-left:-12px; font-size:12px;">{{accountInfoTitle.Heading}}</span>
                    <i class="icon ion-chevron-right calendar-arrow-box" style="font-size: 15px;"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
