/*************************user card background****************************/








.user-booking-view-box {
    /*background: rgba(255, 255, 255, 0.1);*/
    
    background-color: rgba(54, 25, 25, .4);
    box-shadow: 0 10px 10px -5px #000000;
    margin-top: 5px;
    line-height: 60%;
}

.vehicle-icon-fort-param {
    color: #3399FF;
    /*font-size: 15px;*/
}

.booking-address-element-font {
    /*position: absolute;*/
    
    color: #ffffff;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-align: center;
    /*bottom: 15px;*/
    /*margin-left: -17px;*/
}

.booking-large-element-font {
    /*position: absolute;*/
    
    color: #ffffff;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-align: center;
    /*bottom: 15px;*/
    /*margin-left: -17px;*/
}

.booking-status-indication-font {
    /*position: absolute;*/
    /*text-transform: uppercase;*/
    /*font-family: italic, Helvetica, sans-serif;*/
    
    font-style: italic;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-align: center;
    /*bottom: 15px;*/
    /*margin-left: -17px;*/
}

.booking-confirm-status {
    color: #00FF00;
}

.booking-cancel-status {
    color: #0000FF;
}

.booking-pending-status {
    color: #FFFF00;
}

.booking-waiting-status {
    color: #00FFFF;
}

.booking-inprogress-status {
    color: #00FFFF;
}

.booking-complete-status {
    color: #2F4F4F;
}

.booking-postpone-status {
    color: #2F4F4F;
}

.booking-delivery-status {
    color: #2F4F4F;
}
/**********************************buttons***********************************************/

.bookings-request-status-button {
    height: 5px;
    width: 10px;
    background-color: #4a87ee;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #4a87ee;
    border-radius: 3px;
    box-shadow: 0 5px 5px -5px #000000;
    text-decoration: none;
}

.bookings-details-button-grey {
    height: 5px;
    width: 10px;
    background-color: #696969;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #696969;
    border-radius: 3px;
    box-shadow: 0 5px 5px -5px #000000;
    text-decoration: none;
}

.bookings-request-status-font {
    /*position: relative;*/
    /*bottom: 15px;*/
    
    color: #ffffff;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7px;
    font-weight: 500;
    letter-spacing: 1px;
}
/****************************************************************************************/
/***********************booking modal****************************************************/

.booking-status-modal-size {
    /*width: 50%;*/
    /*height: 50px;*/
    
    margin-top: 12%;
    background-color: rgba(54, 25, 25, .7);
}

.booking-modal-bg{
    background-color: rgba(54, 25, 25, .4);
}


.booking-modal-input-dim{
    height: 30px;
    background-color: rgba(54, 25, 25, .4);
}
.booking-modal-input-f{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.booking-modal-radio-bg{

    color: #696969 ;

}

.booking-modal-close-icon {
    font-size: 20px;
}
/****************************************************************************************/
/*************************booking details*************************************************/

.booking-details-large-font {
    /*position: absolute;*/
    
    color: #ffffff;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-align: center;
    /*bottom: 15px;*/
    /*margin-left: -17px;*/
}

.booking-details-lt-color-box {
    /*background: rgba(255, 255, 255, 0.1);*/
    
    background-color: rgba(54, 25, 25, .4);
    box-shadow: 0 10px 10px -5px #000000;
    margin-top: 5px;
    /*line-height: 60%;*/
}

.booking-details-ht-color-box {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 10px -5px #000000;
    margin-top: 20px;
}

.booking-details-status-color-box {
    background-color: rgba(54, 25, 25, .7);
    box-shadow: 0 10px 10px -5px #000000;
    margin-top: 20px;
    padding-bottom: 10px;
}


.booking-details-color-box-param {
    margin-top: 5px;
    line-height: 60%;
}

.dotted {
    border-right: 1px solid black;
    height: 100%;

}
/*booking status*/

.booking-details-circle-dot-yellow {
    font-size: 30px;
    color: #f0b840;
    margin-left: 1px;
}

.booking-details-circle-dot-green {
    font-size: 30px;
    color: #66cc33 ;
    margin-left: 1px;
}

.booking-details-circle-dot-grey {
    font-size: 30px;
    color: #707070 ;
    margin-left: 1px;
}

.booking-details-circle-dot-red {
    font-size: 30px;
    color: #8F0529 ;
    margin-left: 1px;
}



.booking-details-circle-nodot-yellow {
    font-size: 15px;
    color: #f0b840;
    margin-left: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.booking-details-circle-nodot-green {
    font-size: 15px;
    color: #66cc33 ;
    margin-left: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.booking-details-circle-nodot-grey {
    font-size: 15px;
    color: #707070;
    margin-left: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.booking-details-circle-nodot-red {
    font-size: 15px;
    color: #8F0529;
    margin-left: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
}


.booking-details-dotted-line {
 /* width: 100px;
  height: 100px;
  border: 1px solid red;*/
  /*border-top: 3px solid #4a87ee;*/
  border-top: 3px solid white;
  border-top-style: dashed;
  /*font-size: 6px;*/
  height: 10px;
  width: 35px;
  /*color: #4a87ee;*/
  margin-left: -8px;
  margin-top: 10px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.booking-details-line-status-margin {
    margin-left: 5%;
}

.booking-details-status-element-font {
    /*position: absolute;*/
    
    color: #ffffff;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1.5px;
    /*text-align: center;*/
    /*margin-top: 10px;*/

}

.booking-details-status-element-font-red {
    /*position: absolute;*/
    
    color: #8F0529;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: 1.5px;
    /*text-align: center;*/
    /*margin-top: 10px;*/

}

.booking-details-status-element-font-current {
    /*position: absolute;*/
    
    color: #f0b840;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1.5px;
    /*text-align: center;*/
    /*margin-top: 10px;*/

}

.booking-details-status-alignment{
    padding-top: 10px;
}



.bookings-details-action-button {
    height: 20px;
    width: 50px;
    background-color: #4a87ee;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    border: 1px solid #4a87ee;
    border-radius: 3px;
    box-shadow: 0 5px 5px -5px #000000;
    text-decoration: none;
    margin-top: 5px;
    /*margin-left: 10px;*/
}

.booking-details-row-height{
    height: 30px;
}

/****************/
/***************menu page***************************************************************/

.header-background-image {
    background: url('../img/blue_2.png') repeat;
    /*border: 2px solid black;*/
    
    background-size: 100% 100%;
    box-shadow: 0 5px 5px -5px #000000;
    border-bottom: 1px solid black;
    /*background-color: #8F0529;*/
}

.nav-icon-font-para{
    /*margin-top: 4px;*/
    font-size: 22px;
    color: white;
    /*padding-left: 5px;*/
}
/****************************************************************************************/

/************************************booking list sorting********************************/
.booking-header-loc{
    margin-top: 14px;
}



/****************************************************************************************/


