/*status information for each calendar element*/
.day-information-box {
    background: rgba(248, 248, 248, 0.9);
    border-top: 2px solid #47639E;
    /*border-bottom: 2px solid #47639E;*/
    box-shadow: 0 10px 10px -5px #47639E;
    margin-top: 20px;
}
.align-status-info{
    margin-top: 5px;
}

.vehito-logo-font{
    /*position: relative;*/
     width: 240px;
     height: 140px;
     margin-top: -48px;
     margin-left: -40px;
}
.vehito-logo-text-font{

    color: #FFF500;
    text-transform: uppercase;
    width: 60px;
    height: 30px;
}
.vehito-logo-text-placement{
    position: absolute;
    margin-left: 20px;
}

.back-button-color{
    color: #ffffff;
}
/********************************************************************************/


/**********************************vendor rating & like information*********************/
.vendor-highlevel-info-box {
    background: rgba(248, 248, 248, 0.9);
    border-top: 2px solid #47639E;
    /*border-bottom: 2px solid #47639E;*/
    box-shadow: 0 10px 10px -5px #47639E;
    margin-top: 15px;  

}

.vendor-rating-text-font {
    /*position: absolute;*/
    
    color: #47639E;
    /*text-transform: uppercase;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-align: center;
    /*bottom: 15px;*/
    /*margin-left: -17px;*/
    /*text-align: right;*/
}

.vendor-like-text-font {
    /*position: absolute;*/
    
    color: #47639E;
    /*text-transform: uppercase;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-align: center;
    /*bottom: 15px;*/
    /*margin-right: -17px;*/
    /*text-align: right;*/
}

.like-icon {
  font-size: 20px;
  color: #f0b840;
}

.rating-icon {
  font-size: 15px;
  color: #f0b840;
}


/********************************************************************************/

.bookings-details-button{
    height: 5px;
    width: 10px;
    background-color: #FFF500;
    /*padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;*/
    padding: 1em;
    border: 1px solid #FFF500;
    border-radius: 3px;
    box-shadow: 0 5px 5px -5px #47639E;
    text-decoration: none;
}

.bookings-details-button-fade{
    height: 5px;
    width: 10px;
    background-color: #4a87ee;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #4a87ee;
    border-radius: 3px;
    box-shadow: 0 5px 5px -5px #000000;
    text-decoration: none;
}

.header-color {
    background-color: #8F0529;
    border-bottom: 1px solid #8F0529;
}

.search-box-sizing {
    /*height: 30px;*/
    /*background-color: #8F0529; */
    /*opacity: 0.9;   */
    width: 100%;
    height: 30px;
    color: white;
    background-color: rgba(54, 25, 25, .0);
    margin-top: -7px;
    border: 1px solid white;
    /*margin-left: 25px;*/
    /*box-shadow: 0 10px 10px -5px #000000;*/
}

.search-form-par{
    /*height: 100px;*/
    margin-top: -10px;
}


.search-modal-content-bg{
    background-color: rgba(54, 25, 25, .4);
}


.search-input-margin {
    margin-top: -10px;
}

.test-size {
    margin: 0px 0px;
}

.col-box-day {
    /*position: relative;*/
    /*bottom: 15px;*/
    
    color: #47639E;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7px;
    font-weight: 700;
    letter-spacing: 1px;
}

.day-details-container{
    /*margin-left: 6em;*/
    text-align: center;
}

.home-booking-button-text{
    letter-spacing: .7px;
}

.date-element-font {
    /*position: absolute;*/
    
    color: #47639E;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1.5px;
    /*bottom: 15px;*/
    /*margin-left: -17px;*/
}

.month-year-element-font {
    /*position: absolute;*/
    
    color: #47639E;
    /*text-transform: uppercase;*/
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.5px;
    /*bottom: 15px;*/
    margin-top: 14px;
    /*margin-right: 50px;*/
}

.calendar-col-box {
    line-height: 85%;
    /*border: 1px solid white;*/
    /*background: #8F0529;*/
    /*width: 100px;*/
}
.calendar-col-box-selected {
    line-height: 85%;
    /*border: 1px solid white;*/
    background: #C8C8C8 ;
    border-radius: .6em;
    /*width: 100px;*/
}
.test-box-line {
    border: 1px solid white;
    /*height: 30px;*/
}

.calendar-year-alignment {
    margin-left: 6px;
}

.calendar-row-box {
    /*position: absolute;*/
    /*border: 1px solid white;*/
    
    width: 84%;
    /*height: 50px;*/
    
    margin-top: -15px;
    /*background: rgba(54, 25, 25, .6);*/
    
    margin-left: 1.5em;
    /*background-image: url('../img/images.jpg');*/
    /*text-align: center;
    vertical-align: middle;*/
}

.calendar-color-box {
    /*background: rgba(54, 25, 25, .5);*/
    background: rgba(248, 248, 248, 0.9);
    margin-top: 20px;
    /*border-bottom: 2px inset grey;*/
    /*box-shadow: 0 10px 10px -5px #000000;*/
    border-top: 2px solid #47639E;
    /*border-bottom: 2px solid #47639E;*/
    box-shadow: 0 10px 10px -5px #47639E;

   /*box-shadow:         inset 0 0 10px #000000;*/
}

.home-background-image {
    /*background: url('../img/blue_2.png') no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;*/
    /*background: url('../img/bkg.png') repeat;*/
    /*border: 2px solid black;*/
    background-size: cover;
    /*background-size: 100% 100%;*/
    background-color: #ffffff;
}

.calendar-arrow-box {
    /*border: 1px solid white;*/
    
    color: #47639E;
    font-size: 30px;
}

.calendar-arrow-box-fade {
    /*border: 1px solid white;*/
    
    color: #8F0529;
    font-size: 30px;
}

.Calendar-Rigth-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid white;
    border-bottom: 10px solid transparent;
    right: 0;
}

.CalendarHeader {
    position: relative;
    width: 98%;
    height: 40px;
    //border: 1px solid #5C5C5C;
    background-color: #8F0529;
    opacity: 0.8;
    //padding: 5px;
    //box-shadow: 4px 4px #000000;
    //border-radius: 5px;
    margin: 4px;
}

.Calendar-Left-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-right: 20px solid white;
    border-bottom: 18px solid transparent;
    left: 0;
}

.CalendarBox {
    position: relative;
    width: 100%;
    height: 40%;
    //border: 1px solid #5C5C5C;
    //background-color: #5C5C5C;
    opacity: 0.6;
    padding: 30px;
    //box-shadow: 4px 4px #000000;
    //border-radius: 5px;
    margin: 4px;
}

.CalendarBodyHeader {
    position: absolute;
    background-color: #8F0529;
    float: left;
    width: 98%;
    height: 50px;
    //padding: 25px;
    //border-right: 1px solid black;
    border-bottom: 1px solid white;
    opacity: 0.9;
    //margin: -1px;
}

.CalendarBody {
    position: absolute;
    background-color: #000000;
    float: left;
    width: 14%;
    height: 50px;
    //padding: 25px;
    //border-right: 1px solid black;
    border-bottom: 1px solid white;
    opacity: 0.9;
    //margin: -1px;
}

.day-number-font {
    /*position: relative;*/
    
    text-align: center;
    //vertical-align: middle;
    color: #ffffff;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 500;
    //margin: auto;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    
    letter-spacing: 1.5px;
}

.day-name-font {
    position: absolute;
    top: 0;
    color: #ffffff;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 500;
    /*//margin: auto;*/
    display: flex;
    /*//align-items: top;*/
    /*//justify-content: center;*/
    letter-spacing: .7px;
}

.day-moth-year-font {
    position: absolute;
    top: 10px;
    right: 35%;
    /*//text-align: center;*/
    /*//vertical-align: middle;*/
    color: #ffffff;
    /*//text-transform: uppercase;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 500;
    /*//margin: auto;*/
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    
    letter-spacing: 1.5px;
}
/********************status icons*******************************************************************/

.booking-indicator {
    /*position: absolute;*/
    
    display: inline-block;
    width: 5px;
    height: 5px;
    background: orange;
    border-radius: 10px;
    /*top: 50px;*/
    /*margin-left: -15px;*/
}

.booking-pending-service-indicator {
    /*position: absolute;*/
    
    display: inline-block;
    width: 5px;
    height: 5px;
    background: #3BFC05;
    border-radius: 10px;
    /*top: 50px;*/
    /*margin-left: -15px;*/
}

.booking-pending-request-indicator {
    /*position: absolute;*/
    
    display: inline-block;
    width: 5px;
    height: 5px;
    background: #8F0529;
    border-radius: 10px;
    /*top: 50px;*/
    /*margin-left: -15px;*/
}

.pending-service-count-details {
    color: #8a6de9 ;
    font-size: 20px;
}
/**************************************************************************************************/
/*****************************search bar customization***************************************************/

.search-bar-custom {
    position: relative;
    width: 98%;
    height: 30px;
    /*//border: 1px solid #5C5C5C;*/
    background-color: #ffffff;
    opacity: 0.4;
    /*//padding: 5px;*/
    /*//box-shadow: 4px 4px #000000;*/
    /*//border-radius: 5px;*/
    margin: 4px;
    padding-bottom: 50%;
}

.search-bar-border {
    border: 1px solid #5C5C5C;
}
/**************************************************************************************************/

.CalendarCell {
    margin: 30px;
    width: 50px;
    height: 50px;
    background-color: #5C5C5C;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.Calendar {
    margin: 30px;
    background-color: #5C5C5C;
    /*border: 1px solid #8F0529;*/
    
    opacity: 0.6;
    filter: alpha(opacity=60);
    /* For IE8 and earlier */
}

.Calendar.TransparentBox p {
    margin: 5%;
    font-weight: bold;
    color: #FFFFFF;
}

.Calendar.border {
    border-radius: 10px;
}

.Calendar.shading {
    padding: 5px;
    box-shadow: 2px 2px #000000;
}
