/** Styling for the username field **/

label.item.has-error {
    border-bottom: 2px solid red;
}
/** Styling for the password field when an error exists**/

label.item.has-error-lr {
    border-left: 2px solid red;
    border-right: 2px solid red;
}
/** Styling for the password field when an error has been resolved**/

label.item.valid-lr {
    border-left: 2px solid green;
    border-right: 2px solid green;
}
/** Styling for the error text and container **/

.form-errors {
    margin: 5px 0
}

.form-error {
    padding: 2px 0 2px 16px;
    color: red;
}
/* Empty. Add your own CSS if you like */

.logo-size {
    height: 40px;
    width: 100px;
}

.image-size {
    height: 10px;
    width: 50;
}

.holder {
    width: 200px;
    height: 150px;
    /*border: solid 1px;*/
    
    text-shadow: white 0px 0px 2px;
    font-size: 16px;
    background-size: 150px;
}

.custom-icon-20px {
    font-size: 20px;
    color: black;
}

.pick-drop-icon-20px-grey {
    font-size: 30px;
    color: grey;
}

.pick-drop-icon-20px-red {
    font-size: 30px;
    color: #47639E;
}

.pick-icon-20px-red {
    font-size: 20px;
    color: #47639E;
}

.icon-padding {
    padding-left: 10px;
}

.title-color-font {
    font-size: 15px;
    color: #47639E;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.color-filler {
    color: #47639E;
    text-align: center;
    /*text-transform: uppercase;*/
    /*font-family: Arial, Helvetica, sans-serif;*/
    
    font-size: 50px;
    font-weight: 900;
}

.see-more-filler {
    font-size: 11px;
}

